@use '../../../styles/variables.scss' as v;


.card-container{
    background-color: v.$white;
    display: flex;
    align-items: center;
    justify-content:space-between;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.4rem;
    max-width: 25rem;
    width: 19rem;
    max-height: 3rem;
    
    box-shadow: v.$shadow-2;
}