// Text
$purple-60: #5467ed;
$gray-10: #4f4747;

// Input
$placeholder-purple: rgba(126, 140, 238, 0.25);

$shadow-1: 0px 0px 5px 0px rgb(145, 145, 145);

// Button
$btn-bg-purple:  #1e31db;

// Bg 
$snow-white: #f4f4f4;