// Text
$purple-60: #5467ed;
$gray-10: #4f4747;

// Input
$placeholder-purple: rgba(126, 140, 238, 0.25);

// Sombras
$shadow-1: 0px 0px 5px 0px rgb(145, 145, 145);
$shadow-2: 0px 0px 4px 0px rgba(145, 145, 145, 0.479);

// Button
$btn-bg-purple:  #1e31db;

// Bg 
$snow-white: #f4f4f4;
$white: #ffffff;