@use '../../styles/variables.scss' as v;

.tasks-body {

    margin-top: 10rem;


    .groups {
        display: flex;
        list-style: none;
        margin-left: -1rem;
        color: v.$black-text;

        .group-card{
            margin-left: 1rem;
        }
    }

}