@use './styles/variables' as v;

body{
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  color-scheme: light dark;
  color: v.$purple-60;
  background-color: v.$snow-white;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  

  ::placeholder{
    color: v.$black-text;
  }

  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.486);
    padding-left: 1rem;
  }

  ::-moz-placeholder{
    color: rgba(0, 0, 0, 0.541);
    padding-left: 1rem;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: v.$btn-bg-purple;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  background-color: v.$placeholder-purple;
  border-radius: 0.9rem;
  border: none;
  height: 2.5rem;
  width: 17rem;
  padding-left: 1rem;
  color: v.$black-text;

}

label{
  color: v.$gray-10;
}

form{
  display: flex;
  flex-direction: column;
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
