@use '../../../styles/variables.scss' as v;


.card-group{
    background-color: v.$white;
    display: flex;
    align-items: center;
    justify-content:space-between;

    padding: 2rem;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;

    box-shadow: v.$shadow-2;
}