@use '../../../styles/variables.scss' as v;

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    section{
   
        display: flex;
        flex-direction: column;

        box-sizing: border-box;

        align-items:flex-start;
        justify-content: space-around;

    }   
}


#password{
    margin-top: 1.5rem;
}
        